<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://removemembership-byfcdhg4hqhtf7gj.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7245fa7a-640b-4dd1-9fa5-1a0171eb212d/resourcegroups/DefaultResourceGroup-SEA/providers/Microsoft.Web/sites/RemoveMembership</ResourceId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>removemembership-byfcdhg4hqhtf7gj.scm.southeastasia-01.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>RemoveMembership</DeployIisAppPath>
    <WebJobType>Triggered</WebJobType>
    <WebJobName>WorkerService</WebJobName>
  </PropertyGroup>
</Project>