<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>OneDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://removemembership20250625150546-d5c8aye0h4fpgkhp.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7245fa7a-640b-4dd1-9fa5-1a0171eb212d/resourcegroups/tourmate/providers/Microsoft.Web/sites/RemoveMembership20250625150546</ResourceId>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://removemembership20250625150546-d5c8aye0h4fpgkhp.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <WebJobType>Triggered</WebJobType>
    <WebJobName>RemoveMembership</WebJobName>
  </PropertyGroup>
</Project>